<div class="jumbotron">
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2 right-text"> <h5 class="headfont" ng-show="isAuthenticated">Welcome {{user}} !</h5></div>
    </div>
    <div class="row"><h2 class="headfont">About Us</h2></div>
    <div class="row"><h3 class="headfont">Developed By - Team N</h3></div>
    <div class="row">
        <h4>Mitesh Patekar</h4>
        <h4>Aditya Kulkarni</h4>
        <h4>Krutarth Soni</h4>
        <h4>Dharmik Shah</h4>
        <h4>Jay Parekh</h4>
    </div>
</div>