
<div class="jumbotron">
    <div class="row"><h2 class="headfont">Book Hotel - {{hotel}}</h2></div>
    <div class="row">

        <form class="form" ng-submit="submitBook()" accept-charset="UTF-8" ng-hide="isBooked">
            <div class="row">
                <div class="input-group row-buffer">
                    <span class="input-group-addon">First Name</span>
                    <input class="form-control input-lg" ng-model="register.fname" placeholder="First Name" required="required" maxlength="100" type="text">
                    {{register.fname}}
                </div>
            </div>

            <div class="row">
                <div class="input-group row-buffer">
                    <span class="input-group-addon">Last Name</span>
                    <input class="form-control input-lg" ng-model="register.lname" placeholder="Last Name" required="required" maxlength="100" type="text">
                </div>
            </div>
            <div class="row">
                <div class="input-group row-buffer">
                    <span class="input-group-addon">E-mail</span>
                    <input class="form-control input-lg" ng-model="register.email" placeholder="Email" required="required" maxlength="100" type="email">
                </div>
            </div>
            <div class="row">
                <div class="input-group row-buffer">
                    <span class="input-group-addon">Room Type</span>
                    <select class="form-control" ng-model="register.roomtype">
                        <option>Standard</option>
                        <option>Deluxe</option>
                        <option>Luxury</option>
                    </select>
                </div>
            </div>

            <div class="row">

                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <span class="input-group-addon">Arrival Date</span>
                        <input type='text' class="form-control" ng-model="register.adate"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker();
                            });
                </script>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <span class="input-group-addon">Departure Date</span>
                        <input type='text' class="form-control" ng-model="register.ddate"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker();
                            });
                </script>
            </div>
            <h4 style="margin-top:20px">Payent Information</h4>

            <div class="row">
                <div class="input-group row-buffer">
                    <span class="input-group-addon">Select Payment Method</span>
                    <select class="form-control">
                        <option>Visa</option>
                        <option>Mastercard</option>
                        <option>American Express</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="input-group row-buffer">
                    <span class="input-group-addon">Card Number</span>
                    <input class="form-control input-lg" ng-model="register.cnumber" placeholder="Card Number" required="required" maxlength="100" type="number">
                </div>
            </div>
            <div class="row">
                <div class="input-group row-buffer">
                    <span class="input-group-addon">Cardholder Name</span>
                    <input class="form-control input-lg" ng-model="register.cname" placeholder="Name" required="required" maxlength="100" type="text">
                </div>
            </div>
            <div class="row">

                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <span class="input-group-addon">Expiry Date</span>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker();
                            });
                </script>
            </div>

            <div class="row">
                <div class="input-group row-buffer">
                    <span class="input-group-addon">CVC Code</span>
                    <input class="form-control input-lg" ng-model="register.cvc" placeholder="CVC Code" required="required" maxlength="100" type="password">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <button id="btn-signin" type="submit" class="btn btn-primary">Book</button>
                <!--<a id="btn-signin" class="btn btn-primary" ng-click>Cancel</a>-->
            </div>

        </form>


        <div class="panel-body" ng-hide="isBookedConfirmed">           
            <div class="col-md-6">
                <h3>Hotel Booking Confirmation !</h3>
                <div class="row"><div class="col-md-3 text-primary"><h5>First Name:</h5></div><div class="col-md-9"><h5>{{register.fname}}</h5></div></div>
                <div class="row"><div class="col-md-3 text-primary"><h5>Last name:</h5></div><div class="col-md-9"><h5>{{register.fname}}</h5></div></div>
                <div class="row"><div class="col-md-3 text-primary"><h5>Email:</h5></div><div class="col-md-9"><h5>{{register.email}}</h5></div></div>
                <div class="row"><div class="col-md-3 text-primary"><h5>Room Type:</h5></div><div class="col-md-9"><h5>{{register.roomtype}}</h5></div></div>
                <div class="row"><div class="col-md-3 text-primary"><h5>Arrival Date:</h5></div><div class="col-md-9"><h5>{{register.adate}}</h5></div></div>
                <div class="row"><div class="col-md-3 text-primary"><h5>Departure Date:</h5></div><div class="col-md-9"><h5>{{register.ddate}}</h5></div></div>
            </div>         
        </div>
    </div>

</div>

